parameters:
    level: 5
    paths:
        - src
        - test
    excludePaths:
        - test/anorm/TestSchema.sql
        - test/anorm/TestReplaceSchema.sql
        - test/tools/ModelMakerSchema.sql
        - vendor
    ignoreErrors:
        # Ignore missing Moment\Moment class in tests (external dependency)
        - '#Instantiated class Moment\\Moment not found#'
