parameters:
    level: 5
    paths:
        - src
        - test
    excludePaths:
        - test/anorm/TestSchema.sql
        - test/anorm/TestReplaceSchema.sql
        - test/tools/ModelMakerSchema.sql
        - vendor
    # ignoreErrors section removed - all previously ignored errors have been fixed!
